body{background-color: darkslategray}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:white;
    
    
}

h2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;


}

h3 {
    padding-left: 132px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; 
	
	
}

p{
	margin: auto;
	width: 80%;
	text-align: justify;
	line-height: 1.8;
	padding: 5px;
	
	
}


p#home{
	text-align: justify;
	line-height: 1.8;
	padding: 5px;
	width: 80%;
	margin: auto;
	
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
	height: 280px;
	border: 3px solid black;
}


.navbar{
    font-family: cursive;
    text-align: center;
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b2dcff;
    
    
}

.navbar li {
    
    display: inline
}

.navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #FFF;
	 
}

.active {
    background-color: #2b4051;
}

.leg-section{
    background:#b2dcff;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 5px 15px 5px;
    display: block;
    height: 300px;
    line-height: 0px;
}

.insideBox{
    border: 2px solid rgb(118, 143, 255);
    background: rgb(219, 219, 219);
    border-radius: 20px; 
    width: 250px;
    height: 95%;
    margin-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    display: block;
}

.search {
    float: right;
    margin-right: 15px;
}

.flight-table {
    display: block;
    border: 2px solid red;
    border-radius: 15px;
    margin-left: 30px;
    width: 250px;
    height: 95%;
    float: left;
}

